<%= stylesheet_link_tag "flashblock", "page-player" %>
<%= javascript_include_tag "soundmanager/script/soundmanager2", "soundmanager/script/page-player"  %>
<script type="text/javascript">

soundManager.setup({
  url: '../../swf/'
});

function setTheme(sTheme) {
  var o = document.getElementsByTagName('ul')[0];
  o.className = 'playlist'+(sTheme?' '+sTheme:'');
  return false;
}
</script>

<style type="text/css">

div#containerDiv{
width:300px;
height:50px;
}

.row1 {float:left; width:100px; height:25px;}
.row2 {float:left; width:100px; height:25px;}
</style>

<table class="table table-bordered table-striped size_table">
	<% @songs.each do |song| %> 
		 <tr>
		 	<td><h3><%= song.artist %> - <%= song.title %><h3></td>
		 	<td><%= link_to image_tag("/assets/playbutton.png"), song, class: "smaller_image" %></td> 
		 	<td><%= link_to image_tag("/assets/editbutton.png"), edit_song_path(song), class: "smaller_image" %></td>
		 </tr>
	<% end %> 
</table>

<div class="paging_section"> 
	<%= paginate @songs %> 
</div>

<div class="button_section">
	<%= link_to "Add New Song", new_song_path, class: "btn btn-primary"%>
</div>