<%= javascript_include_tag "soundmanager/script/soundmanager2", "soundmanager/script/berniecode-animator", "soundmanager/script/360player"  %>
<%= stylesheet_link_tag "flashblock", "360player", "360player-visualization" %>
<% if flash[:notice] %>
  <p class="notice">Song created successfully</p>
<% end %>



<div class="song_information">
  <div><h1><%= @song.artist %></h1></div>
  <div><h2><%= @song.title %></h2> </div>
</div>


<div class="song_section"> 
  <div class="previous_song">
    <% if @song.previous_song.present? %>
      <%= link_to image_tag("/assets/previous.png"), "/songs/#{@song.previous_song.id}" , id: "previous_button", class: "previous_song" %> 
    <% end %> 
  </div>


  <div class="ui360 ui360-vis song_player">
    <a href="<%= @song.audio_file %>"></a>
     <div class="next_song">
      <% if @song.next_song.present? %>
        <%= link_to image_tag("/assets/next.png"), "/songs/#{@song.next_song.id}" , id: "next_button", class: "next_song" %> 
      <% end %> 
      <%#= image_tag "http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-media-seek-forward-icon.png" %> 
    </div>
  </div>

 
</div>



<script type="text/javascript">

soundManager.setup({
  // path to directory containing SM2 SWF
  url: '../../swf/'
});

threeSixtyPlayer.config.scaleFont = (navigator.userAgent.match(/msie/i)?false:true);
threeSixtyPlayer.config.showHMSTime = true;

// enable some spectrum stuffs

threeSixtyPlayer.config.useWaveformData = true;
threeSixtyPlayer.config.useEQData = true;

// enable this in SM2 as well, as needed

if (threeSixtyPlayer.config.useWaveformData) {
  soundManager.flash9Options.useWaveformData = true;
}
if (threeSixtyPlayer.config.useEQData) {
  soundManager.flash9Options.useEQData = true;
}
if (threeSixtyPlayer.config.usePeakData) {
  soundManager.flash9Options.usePeakData = true;
}

if (threeSixtyPlayer.config.useWaveformData || threeSixtyPlayer.flash9Options.useEQData || threeSixtyPlayer.flash9Options.usePeakData) {
  // even if HTML5 supports MP3, prefer flash so the visualization features can be used.
  soundManager.preferFlash = true;
}

// favicon is expensive CPU-wise, but can be enabled.
threeSixtyPlayer.config.useFavIcon = false;

</script>



